#chart .c3-line-data1 {
  stroke-width: 3px;
}
#chart .c3-line-data2 {
  stroke-width: 5px;
}

pre {margin:0; padding:0; color:#fff;}



.block1 {
    width: 100%;
    height: 100%;
    border:1px solid;
    /*border-color:red;*/
    margin:0;
    padding:0;
}

.block2 {
    width: 100%;
    height: 100%;
    border:1px solid;
    /*border-color:orange;*/
    margin:0;
    padding:0;
}

.block3 {
    width: 100%;
    height: 100%;
    border:1px solid;
    /*border-color:blue;*/
    margin:0;
    padding:0;
}

.block4{
    width: 100%;
    height: 100%;
    border:1px solid;
    /*border-color:green;*/
    margin:0;
    padding:0;
}

.block5 {
    width: 100%;
    height: 100%;
    border:1px solid;
    /*border-color:pink;*/
    margin:0;
    padding:0;
}

.g-block-1 {
    width: 30%;
    height:100%;
    float: left;
    display:inline-block;
    margin:0;
    padding:0;
}

.g-block-2 {
    width: 70%;
    float: right;
    height:100%;
    display:inline-block;
    margin:0;
    padding:0;
}
