#chart .c3-line-data1 {
  stroke-width: 3px;
}
#chart .c3-line-data2 {
  stroke-width: 5px;
}

pre {margin:0; padding:0; color:#fff;}


.outer p {color:#fff; text-align: center;}
.block3 h2 {color:#fff; font-size: 16px; margin:0 20px;}
.block3 p {color:#fff; margin:0 20px;}
.block25 div {width: 90px;font-size: 20px;text-align: center; border:2px solid; border-color:white; padding:10px 20px;margin: 30px auto;border-radius: 15px;}
.block25 h2 {color:#fff; font-size: 20px;text-align: center; margin: 0;}
.block25 p {color:#fff; font-size: 12px;text-align: center; margin: 0; }
.block2 p {color:#fff; font-size: 12px; margin:0 20px;}
.block1 p {color:#fff; font-size: 16px;}


.outer{
	max-width: 1000px;
	margin: auto;
	/*width: 100%;*/
	min-height: 1px;
	background-color: #000000;
	display: flex;
}

.block1 {
	width: 100%; 
	height: 100%; 
	border:1px solid;
	/*border-color:red;*/
    margin:0;
    padding:0;
}

.block2 {
    width: 100%;
    height: 100%;
    border:1px solid;
    /*border-color:orange;*/
    margin:0;
    padding:0;
}

.block25 {
    width: 100%;
    height: 100%;
    border:1px solid;
    /*border-color:orange;*/
    margin:0;
    padding:0;
}

.block3 {
    width: 100%;
    height: 100%;
    border:1px solid;
    /*border-color:blue;*/
    margin:0;
    padding:0;
}

.block4{
    width: 100%;
    height: 100%;
    border:1px solid;
    /*border-color:green;*/
    margin:0;
    padding:0;
}

.block5 {
    width: 100%;
    height: 100%;
    border:1px solid;
    /*border-color:pink;*/
    margin:0;
    padding:0;
}

.g-block-1 {
    width: 30%;
    height:100%;
    float: left;
    /*display:inline-block;*/
    margin:0;
    padding:0;
    flex: 1;

}

.g-block-2 {
    width: 70%;
    float: right;
    height:100%;
    /*display:inline-block;*/
    margin:0;
    padding:0;
    flex: 1;
}
