#chart .c3-line-data1 {
  stroke-width: 2px;
}
#chart .c3-line-data2 {
  stroke-width: 2px;
}

pre {
    margin:0; 
    padding:0; 
    color:#fff;
    font-family: 'Noto Sans JP', sans-serif;
}

.outer p {color:#fff;}
.block3 h2 {color:#fff; font-size: 16px; margin:0 20px; text-align: left;}
.block3 p {color:#fff; font-size: 12px; margin:0 20px; text-align: left;}
.block25 div {
    width: 150px;font-size: 20px;text-align: center;
    background-color: #1BC3A9;
    border-radius: 15px;
    padding:10px 20px; margin: 0 auto;
}
.block25 h2 {color:#01011b; font-size: 16px;text-align: center; margin: 0; font-family: 'Roboto', sans-serif;}
.block25 p {color:#01011b; font-size: 12px;text-align: center; margin: 0; }
.block25-up div {
    width: 150px;font-size: 20px;text-align: center;
    background-color: #FF4978;
    border-radius: 15px;
    padding:10px 20px; margin: 0 auto;
}
.block25-up h2 {color:#01011b; font-size: 16px;text-align: center; margin: 0; font-family: 'Roboto', sans-serif;}
.block25-up p {color:#01011b; font-size: 12px;text-align: center; margin: 0; }
.block2 p {color:#fff; font-size: 12px;}
.block1 p {color:#fff; font-size: 16px;}

@media screen and (min-width:801px){
    .outer {
    	margin: 0 auto;
    	max-width: 100%;
        padding: auto;
        max-height: 100%;
    	display: flex;
    }

    .g-block-1 {
        width: 30%;
        height: 100%;
        max-width: 30%; 
        min-width: 300px; 
        float: left;
        margin-top: auto;
        margin-right: 10px;
        margin-bottom: auto;
        margin-left: 50px;
        padding: 50px;
        flex: 1;
    }
}


@media screen and (max-width:800px){
    .outer {
        margin: 0 auto;
        max-width: 100%;
        padding: auto;
        max-height: 100%;
        /*display: flex;*/
    }
    .g-block-1 {
        /*width: 30%;*/
        height: 100%;
        /*max-width: 30%;*/ 
        min-width: 300px; 
        float: left;
        margin-top: auto;
        margin-right: 10px;
        margin-bottom: auto;
        margin-left: 50px;
        padding: 50px;
        flex: 1;
    }
}

.block1 {
	width: 100%; 
	height: 100%; 
	border: 0;
    margin: 0;
    text-align: center;
    min-width: 100px; 
}

.block1 h1 {
    text-align: center;
    min-width: 100px;   
    padding-bottom: 20px;
}

.block1 h3 {
    padding: 20px;
    margin-bottom: 20px;
    min-width: 100px; 
}

.block2 {
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    margin-bottom: 40px;
    text-align: left;
    font-size: 20px;
    min-width: 100px; 
}


ul.graph {
}

li.graph_1, .graph_2 {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 10px;
    min-width: 100px;
}

li.graph_1 {
    float: left;
    width: 50%;
    min-width: 100px; 
}

li.graph_2 {
    float: right;
    width: 50%;
    text-align: center;
    background-color: #1BC3A9;
    color: #01011b; 
    border-radius: 10px;    
    min-width: 100px; 
}


ul.info {
}

li.info_1 {
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    width: 50%;
    font-size: 20px;
    min-width: 100px; 
}

.block25 {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.block3 {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.block4{
    width: 100%;
    height: 100vh;
    border: 0;
    margin: 0;
    padding: 100px;
}

.block5 {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: yellow;
}


.g-block-2 {
    width: 100%;
    height: 100%;
    max-width: 100%;
    float: right;
    margin: auto;
    padding: 0;
    flex: 1;
    background-color: #01011b;
}
