* {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  font-size: 0; /*←これだけでOK！*/
}

/*左の内容*/
.inline-contents1 {
  width: 30%;
  height: 1000px;
  display: inline-block;
  background-color: #fff;
  vertical-align: bottom;
}

h1 {
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding: 80px 40px 0px 40px;
  font-weight: bold;
}

p.intro {
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding: 40px;
}

p.quote {
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding: 0px 40px 0px 40px;
}

/*右の内容*/
.inline-contents2 {
  width: 70%;
  height: 1000px;
  display: inline-block;
  font-size: 16px;
  vertical-align: bottom;
}

p.number {
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
}

.data {
}