* {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  font-size: 0; /*←これだけでOK！*/
}


/*左の内容*/
.inline-contents1 {
  width: 30%;
  height: 1000px;
  display: inline-block;
  background-color: #fff;
  vertical-align: bottom;
  color: #2B4F64;
}

/*.inline-contents1 {
  position: fixed;
  width: 30%;
  top: 0;
  z-index: 10000;
} */

h1 {
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding: 80px 40px 0px 40px;
  font-weight: bold;
}

p.intro {
  font-size: 14px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding: 40px;
}

p.quote {
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding: 0px 40px 0px 40px;
}

.num {
  font-size: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding-top: 40px;
}

/*右の内容*/
.inline-contents2 {
  width: 70%;
  height: 1000px;
  display: inline-block;
  background-color: #fafafa;
  font-size: 16px;
  vertical-align: bottom;
}

.data {
}


/*ポップアップここから*/

.popup_wrap input {
  display: none;
}

.popup_overlay {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.popup_trigger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.popup_content {
  position: relative;
  align-self: center;
  width: 90%;
  max-width: 800px;
  padding: 80px;
  box-sizing: border-box;
  background: #fff;
  line-height: 1.4em;
  transition: 0.5s;
}

.close_btn {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 30px;
  cursor: pointer;
  color: #000;
}

.popup_wrap input:checked~.popup_overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.sample-box {
  position: relative;
}

.open_btn0 {
  position: absolute;
  top: 125px;
  left: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 225px;
  margin: 0 auto;
  color: #fff;
  background: #0c0d62;
  opacity: 0.1;
  font-weight: bold;
  border-radius: 125px;
  cursor: pointer;
  transition: .3s ease;
}

.open_btn0:hover {
  background: #000;
  color: #fff;
  transition: .3s ease;
}

.open_btn1 {
  position: absolute;
  top: 145px;
  left: 1270px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 215px;
  margin: 0 auto;
  color: #fff;
  background: #0c0d62;
  opacity: 0.1;
  font-weight: bold;
  border-radius: 120px;
  cursor: pointer;
  transition: .3s ease;
}

.open_btn1:hover {
  background: #000;
  color: #fff;
  transition: .3s ease;
}


.open_btn2 {
  position: absolute;
  top: 65px;
  left: 835px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 405px;
  height: 405px;
  margin: 0 auto;
  color: #fff;
  background: #0c0d62;
  opacity: 0.1;
  font-weight: bold;
  border-radius: 500px;
  cursor: pointer;
  transition: .3s ease;
}

.open_btn2:hover {
  background: #000;
  color: #fff;
  transition: .3s ease;
}

.open_btn3 {
  position: absolute;
  top: 570px;
  left: 810px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 185px;
  margin: 0 auto;
  color: #fff;
  background: #0c0d62;
  opacity: 0.1;
  font-weight: bold;
  border-radius: 500px;
  cursor: pointer;
  transition: .3s ease;
}

.open_btn3:hover {
  background: #000;
  color: #fff;
  transition: .3s ease;
}

.open_btn4 {
  position: absolute;
  top: 400px;
  left: 1350px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 225px;
  margin: 0 auto;
  color: #fff;
  background: #0c0d62;
  opacity: 0.1;
  font-weight: bold;
  border-radius: 500px;
  cursor: pointer;
  transition: .3s ease;
}

.open_btn4:hover {
  background: #000;
  color: #fff;
  transition: .3s ease;
}

.open_btn5 {
  position: absolute;
  top: 400px;
  left: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 325px;
  height: 325px;
  margin: 0 auto;
  color: #fff;
  background: #0c0d62;
  opacity: 0.1;
  font-weight: bold;
  border-radius: 500px;
  cursor: pointer;
  transition: .3s ease;
}

.open_btn5:hover {
  background: #000;
  color: #fff;
  transition: .3s ease;
}

.open_btn6 {
  position: absolute;
  top: 470px;
  left: 1050px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 310px;
  margin: 0 auto;
  color: #fff;
  background: #0c0d62;
  opacity: 0.1;
  font-weight: bold;
  border-radius: 500px;
  cursor: pointer;
  transition: .3s ease;
}

.open_btn6:hover {
  background: #000;
  color: #fff;
  transition: .3s ease;
}

p.info {
  color: #000;
}

/*ポップアップココまで*/

body {
    background: #000;
    font-family: "Nico Moji", sans-serif;
}

.column {
    height: 50vh;*/
    width: 100%;
    text-align: center;
    display: flex;
    /*align-items: flex-end;*/
    justify-content: center;
}
    .info {
        /*margin-bottom: 10%;*/
    }
    h2 {
        font-size: 1.3rem;
    }
    p {
        font-size: 1rem;
        padding: 5px;
    }
    a {
        font-size: 1rem;
        background: #0bd;
        border-radius: 5px;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        margin-top: 18px;
    }
    a:hover {
        background: #0090aa;
    }
.cat1 {
    width: 50%;
    /*background: url(http://webcreatorbox.com/sample/images/cat1.jpg) no-repeat top center;*/
    background-size: cover;
    color: rgba(255,255,255,.9);
    background-color: rgba(0,0,0,.7);
}
.cat2 {
    width: 50%;
    /*background: url(http://webcreatorbox.com/sample/images/cat2.jpg) no-repeat top center;*/
    background-size: cover;
    color: rgba(0,0,0,.7);
    background-color: rgba(245,245,245.7);
}

@media all and (min-width: 500px) {
  .wrapper {
    display: flex;
  }
}