.main {
  position: relative;
}
.pager {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 0;
  li {
    display: block;
    margin: 20px;
    a {
      display: block;
      width: 10px;
      height: 10px;
      background: #fff;
      border-radius: 50%;
    }
  }
  .is-current {
    a {
      background: #232323;
    }
  }
}








.section {
  width: 100%;
}
.section-content {
  max-width: 300px;
  margin: 0 auto;
  padding: 40px 60px;
  text-align: center;
}

h2 {
  color: #232323;
  &:first-child {
    margin-top: 0;
  }
}

h3 {
  color: #232323;
}

p {
  color: #232323;
}

.section-red {
  background-color: #ff6363;
}

.section-blue {
  background-color: #8fbbff;
}

.section-green {
  background-color: #fff;
}

